body {
    font-family: sans-serif;
    background-color: #FFD800;
}

h1 {
    color: #FFF9D6;
    font-size: 60px;
    text-align: center;
}
.logo {
    width: 133px;
    height: 133px;
}

.logoP {
    font-size: 48px;
    color: #FFF9D6;
    margin-left: 30px;
}

header {
    display: flex;
}

.newpizza {
    width: 415px;
    height: 276px;
    border: 7px solid #FFF9D6;
    border-radius: 10px;
    margin-top: 20px;
}

main {
    text-align: center;
    background-color: #FFE864;
    padding: 30px;
}

.order {
    position: relative;
    transition: 0.16s;
    background-color: #FFD800;
    text-decoration: none;
    border: 7px solid #FFF9D6;
    padding: 10px;
    border-radius: 10px;
    color: #FFF9D6;
    margin-left: 45%;
    margin-right: 45%;
    font-size: 17px;
    width: 100px;
    height: 40px
}

.order:hover {
    position: relative;
    background-color: #FFD800;
    text-decoration: none;
    border: 7px solid #FFF9D6;
    padding: 10px;
    border-radius: 10px;
    color: #FFF9D6;
    margin-left: 41.9%;
    margin-right: 40%;
    font-size: 34px;
    width: 200px;
    height: 80px;
}

.order:visited {
    position: relative;
    background-color: #ededed;
    text-decoration: none;
    border: 7px solid #f6f6f6;
    padding: 10px;
    border-radius: 10px;
    color: #f6f6f6;
    margin-left: 41.9%;
    margin-right: 40%;
    font-size: 34px;
    width: 200px;
    height: 80px;
}

a {
    text-decoration: none;
    color: #FFF9D6;
}

a:visited {
    text-decoration: none;
    color: #f6f6f6;
}

.ordermenu {
    display:flex;
    justify-content: space-around;
}

.pizzasnack{
    transition: 0.17s;
    position: relative;
    width: 380px;
    height: 253px;
    margin: 20px;
    border: 7px solid #FFF9D6;
    border-radius: 10px;
}

.pizzasnack:hover{
    position: relative;
    width: 570px;
    height: 379.5px;
    margin: 20px;
    border: 7px solid #FFF9D6;
    border-radius: 10px;
}

.kola {
    transition: 0.15s;
    width: 362px;
    height: 253px;
    margin: 20px;
    border: 7px solid #FFF9D6;
    border-radius: 10px;
}

.kola:hover {
    position: relative;
    right: 100px;
    width: 543px;
    height: 379.5px;
    margin: 20px;
    border: 7px solid #FFF9D6;
    border-radius: 10px;
}

.cocacola {
    width: 300px;
    height: 210px;
}

.pepsi {
    width: 350px;
    height: 210px;
}

.fanta {
    width: 350px;
    height: 210px;
}

.drinksmenu {
    margin-top: 15px;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.drinksdiv {
    margin-top: 15px;
    border: 7px solid #FFF9D6;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
}

.ML {
    text-decoration: none;
    color: #FFF9D6;
    font-size: 36.5px;
    border: 5px solid #FFF9D6;
    border-radius: 10px;
    padding: 5px;
    background-color: #FFD800;
    transition: 0.2s;
}

.ML:hover {
    text-decoration: none;
    color: #FFF9D6;
    font-size: 45px;
    border: 7.5px solid #FFF9D6;
    border-radius: 15px;
    padding: 7.5px;
    background-color: #FFD800;
}

.MLdiv {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.snacksmenu {
    border: 7px solid #FFF9D6;
    background-color: #FFF9D6;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.fri {
    width: 350px;
    height: 300px;
}

.nugets {
    width: 300px;
    height: 300px;
}

.balls {
    width: 350px;
    height: 300px;
}

.pizzadiv {
    border: 7px solid #FFF9D6;
    background-color: #FFF9D6;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
    display: flex;

}

.pizzamenu {
    text-align: center;
}

.pr {
    text-decoration: none;
    color: #FFF9D6;
    font-size: 36.5px;
    border: 5px solid #FFF9D6;
    border-radius: 10px;
    padding: 5px;
    background-color: #FFD800;
    margin-bottom: 100px;
}

.PID {
    margin-top: 0px;
    font-size: 20px;
    color: #FFD800;
    margin-left: 70px;
}

form {
    text-align: center;
}

.dani {
    font-size: 30px;
    background-color: #FFD800;
    border-radius: 5px;
    margin-left: 33%;
    margin-right: 33%;
    color: #FFF9D6;
    text-align: center;
}

.PDF {
    text-decoration: none;
    text-align: center;
    color: #FFF9D6;
    font-size: 36.5px;
    border: 5px solid #FFF9D6;
    border-radius: 10px;
    padding: 5px;
    background-color: #FFD800;
    margin-left: 19%;
}

.NNNN {
    transition: 0.2s;
    text-decoration: none;
    color: #FFF9D6;
    font-size: 36.5px;
    border: 2px solid #FFF9D6;
    border-radius: 10px;
    padding: 5px;
    background-color: #FFD800;
    margin-bottom: 100px;
}

.NNNN:hover {
    text-decoration: none;
    color: #FFF9D6;
    font-size: 54.75px;
    border: 1px solid #FFF9D6;
    border-radius: 15px;
    padding: 5px;
    background-color: #FFD800;
    margin-bottom: 100px;
}

li {
    text-align: left;
}

.potap {
    border: 7px solid #FFF9D6;
    border-radius: 10px;
    background-color: #FFF9D6;
}

.rororor {
    display: block;
    margin: 0 auto;
    width: fit-content; /* щоб підлаштовувався під картинку */
    border: 7px solid #FFF9D6;
    border-radius: 10px;
    overflow: hidden;
}

.rororor img {
    display: block;
}

.MINUSTHREE {
    border: 7px solid #FFF9D6;
    border-radius: 10px;
    background-color: #FFF9D6;
    width: 650px;
    height: 600px;
    margin: 0 auto;
    padding: 20px;
}

.koshik {
    position: fixed;
}

.koshik2 {
    position: fixed;
    top:20px
}

.soda {
    position: fixed;
    top:85px
}

.snacks {
    position: fixed;
    top:150px
}

.back {
    position: fixed;
    top:215px
}

.buskut {
    width:50px;
    height:50px;
    border:5px solid #FFF9D6;
    border-radius:10px;
}